@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #ffffff;
    color: #0f141e;
    font: normal 16px 'Roboto', sans-serif;
    margin-right: 160px; /* Same as the width of the sidebar */
    /* padding: 0px 10px; */
}
.avatar{
    width: 200px;
}
.jdm{
    padding-left: 20px;
    width: 35px;  
}
.first{
   padding-left: 0px;
   text-align: center;
   /* padding-bottom: 30px; */
}
.first a{
    font-size: 42px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #000;
}
.first a:hover{
    text-decoration: underline red;
}
.first a:active{
    color: blue;
}

.car-block {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .car-block .car-header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
  }
  
  .car-block h3 {
    margin: 0;
  }
  
  .car-block .link-button {
    background: none;
    border: none;
    padding-left: 30px;
    cursor: pointer;
    font-size: 24px;
    color: #2f00ff;
  }
  
  .car-block .link-button:hover {
    opacity: 75%;
  }
  
  .car-block .car-details {
    display: flex;
    justify-content: space-between;
  }
  
  .car-block .car-details-left,
  .car-block .car-details-right {
    flex: 1;
  }
  
  .car-block .car-details-left p,
  .car-block .car-details-right p {
    margin: 20px;
    padding: 5px;
    color: #2f00ff;
  }
  
  .car-block .car-details-left p strong,
  .car-block .car-details-right p strong {
    display: inline-block;
    width: 80px;
    color: #000;
  }

.third{
    background-color: red;
}

  /* The sidebar menu */
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #ffffff; /* White */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    border-left: 2px solid #818181;
    padding-left: 20px; /* Add some padding for better layout */
    padding-right: 20px;
}

.filter-controls {
    display: flex;
    flex-direction: column;
}

.filter-controls > * {
    margin-bottom: 20px;
}

.filter-controls input[type="text"] {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-controls .dropdown-checkbox .label-title {
    font-size: 14px;
}

.filter-controls .dropdown-checkbox ul {
    position: relative;
    background: #ffffff;
    list-style: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

.filter-controls .dropdown-checkbox ul li {
    font-size: 14px;
    padding: 5px 0;
}

.filter-controls .type {
    display: flex;
    flex-direction: column;
}

.filter-controls .type label {
    margin-bottom: 10px;
    font-size: 14px;
}

.filter-controls .sort {
    display: flex;
    flex-direction: column;
}

.filter-controls .sort label {
    font-size: 14px;
    margin-bottom: 5px;
}

.filter-controls .sort select {
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#reset-filters {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reset-filters:hover {
    background-color: #ff1a1a;
}

#reset-filters:active {
    background-color: #e60000;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.link-button {
    background-color: #ffffff;
    border: none;
    color: rgb(38, 1, 248);
    /* border: 1px solid #000;
    padding: 10px 20px; */
    font-size: 16px;
    font-weight: bold;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.link-button:hover{
    opacity: 75%;
}

.pagination {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #ffffff;
    color: rgb(38, 1, 248);
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
  }

  .pagination button:disabled{
    color: #818181;
  }
    
  .pagination span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
  }